body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: white;
  }
ol, ul {
    list-style: none;
}
nav.navbar {
  margin: 0px 135px;
  border-radius: 7px;
  padding: 10px 50px;
}
.chat-container {
  margin: 0 auto;
  width: 80%;
  background: #444753;
  border-radius: 5px;
}
  
  .people-list {
    width: 30%;
    float: left;
  }
  .people-list .search {
    padding: 10px;
  }
  .people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  .people-list .fa-search {
    position: relative;
    left: -25px;
  }
  .people-list ul {
    padding: 20px;
    height: auto;
  }
  .people-list ul li {
    padding-bottom: 20px;
  }
  .people-list img {
    float: left;
    height: 50px;
    border-radius: 50%;
  }
  .people-list .about {
    float: left;
    margin-top: 8px;
  }
  .people-list .about {
    padding-left: 8px;
  }
  .people-list .status {
    color: #92959E;
  }
  
  .chat {
    width: 70%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    height: 600px;
  }
  .no-chat h2 {
    line-height: 590px;
}
 .no-chat {
   height: 590px;
 }
  .chat .chat-header {
    padding: 10px 20px;
    border-bottom: 2px solid white;
  }
  .chat .chat-header img {
    float: left;
  }
  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
  }
  .chat .chat-header .chat-with {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
  }
  .chat .chat-header .chat-with i {
    font-weight: 200

  }
  .chat .chat-header .chat-num-messages {
    color: #92959E;
  }
  .chat .chat-header img {
    height: 50px;
    border-radius: 50%;
}
  .chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
  }
  i.fa.fa-star.subscribed {
    color: #ffe200;
  }
  .chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 392px;
  }
  .chat .chat-history .message-data {
    margin-bottom: 15px;
  }
  .chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
  }
  .chat .chat-history .message {
    color: white;
    padding: 5px 5px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 49%;
    position: relative;
  }
  .chat .chat-history ul {
    padding: 0;
  }

  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
  }
  .chat .chat-history .my-message {
    background: #86BB71;
  }
  .chat .chat-history .other-message {
    background: #94C2ED;
  }
  .chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
  }
  .chat .chat-message {
    padding: 15px 20px;
  }
  .chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 5px;
    resize: none;
  }
  .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
  }
  .message img {
    height: 100px;
}
  .chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
  }
  .chat .chat-message button:hover {
    color: #75b1e8;
  }
  
  .online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
  .online {
    color: #86BB71;
  }
  
  .offline {
    color: #E38968;
  }
  
  .me {
    color: #94C2ED;
  }
  
  .align-left {
    text-align: left;
  }
  
  .align-right {
    text-align: right;
  }
  
  .float-right {
    float: right;
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }